<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Ajout des tvs</title>
</head>
<body>
	<div layout:fragment="Mycontent">
		<div class="container mt-5">
			<div class="card">
				<div class="card-header">Ajout des tvs</div>
				<div class="card-body">
					<form th:action="@{savetv}" method="post">
						<div class="form-group">


							<label class="control-label">Nom tv :</label> <input type="text"
								name="nomtv" class="form-control" /> <span
								th:errors=${tv.nomtv} class="text-danger">
						</div>
						<div class="form-group">


							<label class="control-label">Prix tv :</label> <input type="text"
								name="prixtv" class="form-control" /> <span
								th:errors=${tv.prixtv} class="text-danger">
						</div>
						<div class="form-group">

							<label class="control-label">date création :</label> <input
								type="date" name="dateCreation" class="form-control" /> <span
								th:errors=${tv.dateCreation} class="text-danger">
						</div>
						<div>

							<button type="submit" class="btn btn-primary">Valider</button>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>